language: r
cache: packages
r:
    - release
    - devel 
os:
    - linux
sudo: false
latex: false
warnings_are_errors: true
cran: https://cran.rstudio.com
notifications:
  email:
    on_success: change
    on_failure: change
r_github_packages:
    - r-lib/covr
    - jimhester/lintr
after_success:
    - Rscript -e 'covr::codecov()'
    - Rscript -e 'lintr::lint_package()'
